:root {
   --font-base: 'Inter', sans-serif;
   --font-mono: 'Menlo', monospace;
   --font-code: 'Fira Code', monospace;

   --font-size-1: 12px;
   --font-size-2: 14px;
   --font-size-3: 16px;
   --font-size-4: 20px;
   --font-size-5: 24px;
   --font-size-6: 32px;
   --font-size-7: 40px;
   --font-size-8: 48px;
   --font-size-9: 64px;
   --font-size-10: 80px;

   --font-weight-1: 300;
   --font-weight-2: 400;
   --font-weight-3: 500;
   --font-weight-4: 600;
   --font-weight-5: 700;

   --font-line-height-1: 1.2;
   --font-line-height-2: 1.4;
   --font-line-height-3: 1.6;
   --font-line-height-4: 1.8;
   --font-line-height-5: 2;

   --font-letter-spacing-1: 0.1em;
   --font-letter-spacing-2: 0.2em;
   --font-letter-spacing-3: 0.3em;
   --font-letter-spacing-4: 0.4em;
   --font-letter-spacing-5: 0.5em;
}