:root {
   --spacing-0: 0px;
   --spacing-4: 4px;
   --spacing-5: 5px;
   --spacing-8: 8px;
   --spacing-10: 10px;
   --spacing-15: 15px;
   --spacing-16: 16px;
   --spacing-20: 20px;
   --spacing-25: 25px;
   --spacing-24: 24px;
   --spacing-30: 30px;
   --spacing-32: 32px;
   --spacing-35: 35px;
   --spacing-40: 40px;
   --spacing-45: 45px;
   --spacing-48: 48px;
   --spacing-50: 50px;
   --spacing-52: 52px;
}